<%= render 'partial/navbar' %>

<div class=main-container>
  <h1 class="center"> Find best cocktails of the world !</h1>

  <div class="card-container">
    <% @cocktails.each do |cocktail| %>
    <div class= "card">
      <%= link_to "", cocktail_path(cocktail), class: "stretched-link" %>
      <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
      <div class="card-name">
      <%= cocktail.name  %>
      </div>
    </div>
    <% end %>
  </div>
</div>

