<h1>Cocktails#show</h1>
<p>Find me in app/views/cocktails/show.html.erb</p>
<%= @cocktail.name %>

<%= render "dose/new", cocktail: @cocktail, dose: @dose %>

<% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
  <%= dose.ingredient.name %>
<% end %>


